<nb-card>
  <nb-card-header>Angular Material</nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-lg-6">
        <ul id="compositions-list" class="pure-tree main-tree">
          <li>
            <input type="checkbox" id="trigger-views" checked="checked">
            <label for="trigger-views">views</label>
            <ul class="pure-tree">
              <li class="pure-tree_link"><a href="" title="index.jade" target="_blank">index.html</a></li>
              <li>
                <input type="checkbox" id="trigger-layout">
                <label for="trigger-layout">layout</label>
                <ul class="pure-tree">
                  <li>
                    <input type="checkbox" id="trigger-base">
                    <label for="trigger-base">base</label>
                    <ul class="pure-tree">
                      <li class="pure-tree_link"><a href="" title="index.jade" target="_blank">index.html</a></li>
                    </ul>
                  </li>
                  <li>
                    <input type="checkbox" id="trigger-footer">
                    <label for="trigger-footer">footer</label>
                    <ul class="pure-tree">
                      <li class="pure-tree_link"><a href="" title="index.jade" target="_blank">index.html</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li>
                <input type="checkbox" id="trigger-partials">
                <label for="trigger-partials">partials</label>
                <ul class="pure-tree">
                  <li>
                    <input type="checkbox" id="trigger-header">
                    <label for="trigger-header">header</label>
                    <ul class="pure-tree">
                      <li class="pure-tree_link"><a href="" title="index.jade" target="_blank">index.html</a></li>
                    </ul>
                  </li>
                  <li>
                    <input type="checkbox" id="trigger-list">
                    <label for="trigger-list">list</label>
                    <ul class="pure-tree">
                      <li class="pure-tree_link"><a href="" title="index.jade" target="_blank">index.html</a></li>
                    </ul>
                  </li>
                  <li>
                    <input type="checkbox" id="trigger-message">
                    <label for="trigger-message">message</label>
                    <ul class="pure-tree">
                      <li class="pure-tree_link"><a href="" title="index.jade" target="_blank">index.html</a></li>
                    </ul>
                  </li>
                  <li>
                    <input type="checkbox" id="trigger-panel">
                    <label for="trigger-panel">panel</label>
                    <ul class="pure-tree">
                      <li class="pure-tree_link"><a href="" title="index.jade" target="_blank">index.html</a></li>
                    </ul>
                  </li>
                  <li>
                    <input type="checkbox" id="trigger-prompt">
                    <label for="trigger-prompt">prompt</label>
                    <ul class="pure-tree">
                      <li class="pure-tree_link"><a href="" title="index.jade" target="_blank">index.html</a></li>
                    </ul>
                  </li>
                  <li>
                    <input type="checkbox" id="trigger-sub-header">
                    <label for="trigger-sub-header">sub-header</label>
                    <ul class="pure-tree">
                      <li class="pure-tree_link"><a href="" title="index.jade" target="_blank">index.html</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li>
                <input type="checkbox" id="trigger-ui">
                <label for="trigger-ui">ui</label>
                <ul class="pure-tree">
                  <li>
                    <input type="checkbox" id="trigger-box-color">
                    <label for="trigger-box-color">box-color</label>
                    <ul class="pure-tree">
                      <li class="pure-tree_link"><a href="" title="index.jade" target="_blank">index.html</a></li>
                    </ul>
                  </li>
                  <li>
                    <input type="checkbox" id="trigger-button">
                    <label for="trigger-button">button</label>
                    <ul class="pure-tree">
                      <li class="pure-tree_link"><a href="" title="index.jade" target="_blank">index.html</a></li>
                    </ul>
                  </li>
                  <li>
                    <input type="checkbox" id="trigger-charts">
                    <label for="trigger-charts">charts</label>
                    <ul class="pure-tree">
                      <li>
                        <input type="checkbox" id="trigger-border">
                        <label for="trigger-border">border</label>
                        <ul class="pure-tree">
                          <li class="pure-tree_link"><a href="" title="index.jade" target="_blank">index.html</a></li>
                        </ul>
                      </li>
                      <li>
                        <input type="checkbox" id="trigger-progress">
                        <label for="trigger-progress">progress</label>
                        <ul class="pure-tree">
                          <li class="pure-tree_link"><a href="" title="index.jade" target="_blank">index.html</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <input type="checkbox" id="trigger-check">
                    <label for="trigger-check">check</label>
                    <ul class="pure-tree">
                      <li class="pure-tree_link"><a href="" title="index.jade" target="_blank">index.html</a></li>
                    </ul>
                  </li>
                  <li>
                    <input type="checkbox" id="trigger-dropdown">
                    <label for="trigger-dropdown">dropdown</label>
                    <ul class="pure-tree">
                      <li class="pure-tree_link"><a href="" title="index.jade" target="_blank">index.html</a></li>
                    </ul>
                  </li>
                  <li>
                    <input type="checkbox" id="trigger-input">
                    <label for="trigger-input">input</label>
                    <ul class="pure-tree">
                      <li class="pure-tree_link"><a href="" title="index.jade" target="_blank">index.html</a></li>
                    </ul>
                  </li>
                  <li>
                    <input type="checkbox" id="trigger-radio">
                    <label for="trigger-radio">radio</label>
                    <ul class="pure-tree">
                      <li class="pure-tree_link"><a href="" title="index.jade" target="_blank">index.html</a></li>
                    </ul>
                  </li>
                  <li>
                    <input type="checkbox" id="trigger-rating-stars">
                    <label for="trigger-rating-stars">rating-stars</label>
                    <ul class="pure-tree">
                      <li class="pure-tree_link"><a href="" title="index.jade" target="_blank">index.html</a></li>
                    </ul>
                  </li>
                  <li>
                    <input type="checkbox" id="trigger-textarea">
                    <label for="trigger-textarea">textarea</label>
                    <ul class="pure-tree">
                      <li class="pure-tree_link"><a href="" title="index.jade" target="_blank">index.html</a></li>
                    </ul>
                  </li>
                  <li>
                    <input type="checkbox" id="trigger-toggle">
                    <label for="trigger-toggle">toggle</label>
                    <ul class="pure-tree">
                      <li class="pure-tree_link"><a href="" title="index.jade" target="_blank">index.html</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>


      </div>
      <div class="col-lg-6">
        <nb-accordion multi>
          <nb-accordion-item>
            <nb-accordion-item-header matRipple>
              Menu Fields Config
            </nb-accordion-item-header>
            <nb-accordion-item-body>
              <!-- start tool-pane -->
              <div class="mail-tools tooltip-demo m-t-md">
                <div class="btn-group float-right">
                  <button class="btn btn-white btn-sm"><i class="fa fa-arrow-left"></i></button>
                  <button class="btn btn-white btn-sm"><i class="fa fa-arrow-right"></i></button>

                </div>
                <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="left"
                  title="Refresh inbox"><i class="fa fa-refresh"></i> </button>
                <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Mark as read"><i
                    class="fas fa-edit"></i> </button>
                <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top"
                  title="Mark as important"><i class="fa fa-save"></i> </button>
                <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title=""
                  data-original-title="Move to trash"><i class="fa fa-trash-o"></i> </button>

              </div>
              <!-- end tool-pane -->


              <!-- start menu fields -->
              <ul class="todo-list m-t small-list">
                <li>
                  <a href="#" class="check-link"><i class="fa fa-check-square"></i> </a>
                  <span class="m-l-xs todo-completed">Buy a milk</span>

                </li>
                <li>
                  <a href="#" class="check-link"><i class="fas fa-square"></i> </a>
                  <span class="m-l-xs">Go to shop and find some products.</span>

                </li>
                <li>
                  <a href="#" class="check-link"><i class="fas fa-square"></i> </a>
                  <span class="m-l-xs">Send documents to Mike</span>
                  <small class="label label-primary"><i class="fa fa-clock-o"></i> 1 mins</small>
                </li>
                <li>
                  <a href="#" class="check-link"><i class="fas fa-square"></i> </a>
                  <span class="m-l-xs">Go to the doctor dr Smith</span>
                </li>
                <li>
                  <a href="#" class="check-link"><i class="fa fa-check-square"></i> </a>
                  <span class="m-l-xs todo-completed">Plan vacation</span>
                </li>
                <li>
                  <a href="#" class="check-link"><i class="fas fa-square"></i> </a>
                  <span class="m-l-xs">Create new stuff</span>
                </li>
                <li>
                  <a href="#" class="check-link"><i class="fas fa-square"></i> </a>
                  <span class="m-l-xs">Call to Anna for dinner</span>
                </li>
              </ul>

              <!-- end menu fields -->

            </nb-accordion-item-body>
          </nb-accordion-item>

          <nb-accordion-item>
            <nb-accordion-item-header matRipple>
              Contact
            </nb-accordion-item-header>
            <nb-accordion-item-body>

            </nb-accordion-item-body>
          </nb-accordion-item>

          <nb-accordion-item>
            <nb-accordion-item-header matRipple>
              Professional
            </nb-accordion-item-header>
            <nb-accordion-item-body>

            </nb-accordion-item-body>
          </nb-accordion-item>
        </nb-accordion>
      </div>
    </div>
  </nb-card-body>
</nb-card>
