<nb-card>
  <nb-card-header>Angular Material</nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-lg-6">

<ngx-fribly-tree></ngx-fribly-tree>

      </div>
      <div class="col-lg-6">
        <nb-accordion multi>
          <nb-accordion-item>
            <nb-accordion-item-header matRipple>
              Menu Fields Config
            </nb-accordion-item-header>
            <nb-accordion-item-body>
              <ngx-check-list></ngx-check-list>
            </nb-accordion-item-body>
          </nb-accordion-item>

          <nb-accordion-item>
            <nb-accordion-item-header matRipple>
              Contact
            </nb-accordion-item-header>
            <nb-accordion-item-body>

            </nb-accordion-item-body>
          </nb-accordion-item>

          <nb-accordion-item>
            <nb-accordion-item-header matRipple>
              Professional
            </nb-accordion-item-header>
            <nb-accordion-item-body>

            </nb-accordion-item-body>
          </nb-accordion-item>
        </nb-accordion>
      </div>
    </div>
  </nb-card-body>
</nb-card>
