<!-- 
  Based on https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_slideshow
Adopted by @georemo for angular implementation
-->

<p>{{slideData.title}}</p>
<div class="slideshow-container">
  <ng-container *ngFor="let slide of slideData.content">
    <div class="mySlides fade">
      <div class="numbertext">{{slide.numbertext}}</div>
      <img [src]="slide.src" [style]="slide.style">
      <div class="text">{{slide.caption}}</div>
    </div>
  </ng-container>

  <!-- <div class="mySlides fade">
      <div class="numbertext">1 / 3</div>
      <img src="../../../../assets/cd/imges/img_mountains_wide.jpg" style="width:100%">
      <div class="text">Caption Text</div>
    </div>
    
    <div class="mySlides fade">
      <div class="numbertext">2 / 3</div>
      <img src="../../../../assets/cd/imges/img_nature_wide.jpg" style="width:100%">
      <div class="text">Caption Two</div>
    </div>
    
    <div class="mySlides fade">
      <div class="numbertext">3 / 3</div>
      <img src="../../../../assets/cd/imges/img_snow_wide.jpg" style="width:100%">
      <div class="text">Caption Three</div>
    </div> -->

  <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
  <a class="next" (click)="plusSlides(1)">&#10095;</a>

</div>
<br>

<div style="text-align:center">
  <span class="dot" (click)="currentSlide(1)"></span>
  <span class="dot" (click)="currentSlide(2)"></span>
  <span class="dot" (click)="currentSlide(3)"></span>
</div>
