<nb-card size="medium">
    <nb-card-body>
      <nb-stepper #stepper [linear]="linearMode" orientation="vertical">
        <nb-step label="Module">
          <h4>Register module</h4>
          <p class="lorem">
            Module name and context (app or sys) is required.
          </p>
          <form [formGroup]="frmRegModule" (ngSubmit)="submitModuleForm(frmRegModule)">
            <ng-template matStepLabel>Fill out your name</ng-template>
            <mat-form-field>
              <mat-label>Module Name</mat-label>
              <input matInput placeholder="Module Name" formControlName="module_name" required>
              <mat-error *ngIf="frmRegModule.controls.module_name.hasError('required')">
                You must provide a <strong>name</strong>
              </mat-error>
            </mat-form-field>
            <br>
            <mat-form-field class="input-example">
              <mat-label>Module Scope</mat-label>
              <mat-select formControlName="is_sys_module" required>
                <mat-option value="0">App</mat-option>
                <mat-option value="1">Sys</mat-option>
              </mat-select>
              <mat-error *ngIf="frmRegModule.controls.is_sys_module.hasError('required')">
                You must select <strong>module scope</strong>
              </mat-error>
            </mat-form-field>
          </form>
          <p></p>
          <button nbButton (click)="submitModuleForm(frmRegModule)" [disabled]="frmRegModule.invalid || successRegModule"
            status="primary">
            <nb-icon icon="save"></nb-icon>
          </button>
          <button nbButton [disabled]="!successRegModule" nbStepperNext>
            <nb-icon icon="arrow-circle-right-outline"></nb-icon>
          </button>
        </nb-step>
        <nb-step label="Menus">
          <h4>Register menus for '{{regDataModule.module_name}}' module</h4>
          <p class="lorem">
            Every module has to have at least one menu item. You can use the + button to add more items.
          </p>
          <form [formGroup]="frmRegMenu" (ngSubmit)="submitMenuForm(frmRegMenu)">
            <mat-form-field>
              <mat-label>Menu Name</mat-label>
              <input matInput formControlName="menu_name" placeholder="Menu Name" required>
            </mat-form-field>
            <br>
            <mat-form-field>
              <mat-label>Menu Description</mat-label>
              <input matInput formControlName="menu_description" placeholder="menu_description">
            </mat-form-field>
            <br>
            <mat-form-field>
              <mat-label>Menu Icon</mat-label>
              <input matInput formControlName="menu_icon" placeholder="Menu Icon" required>
            </mat-form-field>
            <br>
            <mat-form-field class="input-example">
              <mat-label>Icon Package</mat-label>
              <mat-select formControlName="icon_type" required>
                <mat-option value="eva">eva</mat-option>
                <mat-option value="fa">fa</mat-option>
                <mat-option value="fas">fas</mat-option>
                <mat-option value="far">far</mat-option>
              </mat-select>
              <mat-error *ngIf="frmRegModule.controls.is_sys_module.hasError('required')">
                You must select <strong>module scope</strong>
              </mat-error>
            </mat-form-field>
            <br>
          </form>
          <button nbButton (click)="submitMenuForm(frmRegMenu)" [disabled]="frmRegMenu.invalid" status="primary">
            <nb-icon icon="plus-outline"></nb-icon>
          </button>
          <button nbButton nbStepperPrevious>
            <nb-icon icon="arrow-circle-left-outline"></nb-icon>
          </button>
          <button nbButton [disabled]="!successRegMenu" nbStepperNext>
            <nb-icon icon="arrow-circle-right-outline"></nb-icon>
          </button>
        </nb-step>
        <nb-step label="Finnish">
          <div class="col-md-12">
            <h4>New Module:</h4><h2>{{regDataModule.module_name}}</h2>
            <small>Below are the current menu items:</small>
            <ul class="list-group clear-list m-t">
                <li *ngFor="let menu of currentMenu" class="list-group-item fist-item">
                    <span class="float-right">
                      <mat-slide-toggle color="primary" [checked]="menu.enabled"></mat-slide-toggle>
                    </span>
                    <nb-icon [icon]="menu.icon" [pack]="menu.icon_type"></nb-icon>
                    {{menu.title}}
                </li>
            </ul>
        </div>
  
          <button nbButton nbStepperPrevious>
            <nb-icon icon="arrow-circle-left-outline"></nb-icon>
          </button>
        </nb-step>
  
      </nb-stepper>
    </nb-card-body>
  </nb-card>
  
  