
<!-- <ngx-gantt-one></ngx-gantt-one> -->
<!-- <ngx-gantt-two></ngx-gantt-two> -->
<!-- <ngx-gantt-three></ngx-gantt-three> -->
<!-- <ngx-gantt-four></ngx-gantt-four> -->
<!-- <ngx-gantt-five></ngx-gantt-five> -->
<!-- <ngx-gantt-six></ngx-gantt-six> -->
<!-- <ngx-gantt-seven></ngx-gantt-seven>  -->
<!-- <ngx-gantt-eight></ngx-gantt-eight> -->
<ngx-gantt-nine
[title]="title"
[dateStartStr]="dateStartStr"
[projTasks]="svSchedule.schedule"
></ngx-gantt-nine>
<p></p>
<div class="row">
    <div class="mail-tools tooltip-demo m-t-md">
        <div class="btn-group float-right">
            <button class="btn btn-white btn-sm"><i class="fa fa-arrow-left"></i></button>
            <button class="btn btn-white btn-sm"><i class="fa fa-arrow-right"></i></button>
        </div>
        <button (click)="svSchedule.addSchedule()" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="left" title="" data-original-title="Refresh inbox"><i class="fa fa-refresh"></i> Refresh</button>
        <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="" data-original-title="Mark as read"><i class="fa fa-eye"></i> </button>
        <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="" data-original-title="Mark as important"><i class="fa fa-exclamation"></i> </button>
        <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="" data-original-title="Move to trash"><i class="fa fa-trash-o"></i> </button>

    </div>
</div>
<p></p>
<ngx-task-list></ngx-task-list>