<link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
<nb-card size="medium">
  <nb-card-body>
    <nb-stepper #stepper [linear]="linearMode" orientation="vertical">
      <nb-step label="Create/Edit">
        <h4>Create</h4>
        <!-- <p class="lorem">
          Select whether you want to edit or create
        </p> -->
        <form>
          <p>
            <mat-radio-group color="primary">
              <mat-radio-button value="1" [checked]="true">Create New Project&nbsp;</mat-radio-button>
              <mat-radio-button value="2">Add Schedule to Project&nbsp;</mat-radio-button>
            </mat-radio-group>
          </p>

        </form>
        <p></p>
        
        <button nbButton  nbStepperNext>
          <nb-icon icon="arrow-circle-right-outline"></nb-icon>
        </button>
      </nb-step>
      <nb-step label="Project">
        <form [formGroup]="frmRegProject" (ngSubmit)="submitProjectForm(frmRegProject)">
          <mat-form-field>
            <mat-label>Project Name</mat-label>
            <input matInput placeholder="Project Name" formControlName="project_name" required>
            <mat-error *ngIf="frmRegProject.controls.project_name.hasError('required')">
              You must provide a <strong>name</strong>
            </mat-error>
          </mat-form-field>
          <br>
          <ngx-select-search 
            #selectProj 
            [isInvalidSelItems]="isInvalidSelProj" 
            (sendSelData)="getSelectedProj($event)"
            [nameField]="projNameField" 
            [IdField]="projIdField" 
            [ConsumerInstance]="svProject" 
            [fetchData]="fetchProjData"
            placeholder="Projects"
            >
          </ngx-select-search>
          <br>
          <button nbButton (click)="submitProjectForm(frmRegProject)"
            [disabled]="frmRegProject.invalid || successRegProject" status="primary">
            <nb-icon icon="save"></nb-icon>
          </button>
          <button nbButton [disabled]="!successRegProject" nbStepperNext>
            <nb-icon icon="arrow-circle-right-outline"></nb-icon>
          </button>
        </form>

      </nb-step>
      <nb-step label="Schedules">
        <h4>Register schedule for '{{regDataProject.module_name}}' module</h4>
        <p class="lorem">
          Every module has to have at least one schedule item. You can use the + button to add more items.
        </p>
        <form [formGroup]="frmRegSchedule" (ngSubmit)="submitScheduleForm(frmRegSchedule)">
          <mat-form-field>
            <mat-label>Schedule Name</mat-label>
            <input matInput placeholder="Schedule Name" formControlName="schedule_name" required>
            <mat-error *ngIf="frmRegSchedule.controls.schedule_name.hasError('required')">
              You must provide a <strong>name</strong>
            </mat-error>
          </mat-form-field>
          <br>
          <mat-form-field>
            <mat-label>Schedule Description</mat-label>
            <input matInput formControlName="schedule_description" placeholder="schedule_description">
          </mat-form-field>
          <br>
          <ngx-select-search 
            #selectSchedule 
            [isInvalidSelItems]="isInvalidSelSchedule" 
            (sendSelData)="getSelectedSchedule($event)"
            [nameField]="scheduleNameField" 
            [IdField]="scheduleIdField" 
            [ConsumerInstance]="svSchedule" 
            [fetchData]="fetchScheduleData"
            placeholder="Schedules"
            >
          </ngx-select-search>
          <br>
          <br>
        </form>
        <button nbButton (click)="submitScheduleForm(frmRegSchedule)" status="primary">
          <nb-icon icon="plus-outline"></nb-icon>
        </button>
        <button nbButton nbStepperPrevious>
          <nb-icon icon="arrow-circle-left-outline"></nb-icon>
        </button>
        <button nbButton [disabled]="!successRegSchedule" nbStepperNext>
          <nb-icon icon="arrow-circle-right-outline"></nb-icon>
        </button>
      </nb-step>
      <nb-step label="Finnish">
        <div class="col-md-12">
          <h4>New Project:</h4>
          <h2>{{regDataProject.module_name}}</h2>
          <small>Below are the current schedule items:</small>
          <ul class="list-group clear-list m-t">
            <li *ngFor="let schedule of currentSchedule" class="list-group-item fist-item">
              <span class="float-right">
                <mat-slide-toggle color="primary" [checked]="schedule.enabled"></mat-slide-toggle>
              </span>
              <nb-icon [icon]="schedule.icon" [pack]="schedule.icon_type"></nb-icon>
              {{schedule.title}}
            </li>
          </ul>
        </div>

        <button nbButton nbStepperPrevious>
          <nb-icon icon="arrow-circle-left-outline"></nb-icon>
        </button>
      </nb-step>

    </nb-stepper>
  </nb-card-body>
</nb-card>
