<div id="item-0" class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>News Feed</h2>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="index.html">Home</a>
      </li>
      <li class="breadcrumb-item">
        <a>News Feed</a>
      </li>
    </ol>
  </div>
</div>
<div class="row divCenter">
  <!-- start child component (carousel) from cd-palette module -->
  <ngx-carousel [slideData]="newsCarousolData"></ngx-carousel>
  <!-- end child component from cd-palette module -->
</div>
<div class="row">



  <div class="wrapper wrapper-content  animated fadeInRight blog">
    <div class="row">
      <div class="col-lg-4">
        <div class="ibox">
          <div class="ibox-content">
            <a href="article.html" class="btn-link">
              <h2>
                ILCU Foundation: Call for Expression of Interest (EoI)
              </h2>
            </a>
            <div class="small m-b-xs">
              <strong>by Accosca Admin | EOI, Updates</strong> <span class="text-muted"><i class="fas fa-clock-o"></i>
                Jul 22, 2020</span>
            </div>
            <p>
              The Irish League of Credit Unions Foundation (ILCUF) is the charitable arm of the Irish credit union
              movement. Its mission is to empower individuals and communities in the developing world to fight poverty
              and financial exclusion through ethical savings and loans.
            </p>
            <p>ILCUF considers training and education a key part of our provision of technical assistance. Training and
              competency development is essential for CU movement survival and growth. To this end, ILCUF is developing
              a CU training curriculum for CUs, apexes and regulators to help engender best practice in CU development.
              The CU curriculum will feature both core and supplementary courses for CU leaders in the area of
              governance and CU staff in the area of operations. All training will be delivered via classroom based
              training and should be engaging using a variety of interactive and innovative training methodologieswhich
              cater with adult learning needs in-country. </p>
            <p>...read more</p>
            <div class="row">
              <div class="col-md-6">
                <h5>Tags:</h5>
                <button class="btn btn-primary btn-xs" type="button">Model</button>
                <button class="btn btn-white btn-xs" type="button">Publishing</button>
              </div>
              <div class="col-md-6">
                <div class="small text-right">
                  <h5>Stats:</h5>
                  <div> <i class="fa fa-comments-o"> </i> 56 comments </div>
                  <i class="fa fa-eye"> </i> 144 views
                </div>
              </div>
            </div>
          </div>
        </div>
        

      </div>
      <div class="col-lg-4">

        <div class="ibox">
          <div class="ibox-content">
            <a href="article.html" class="btn-link">
              <h2>
                Building Synagies
              </h2>
            </a>
            <div class="small m-b-xs">
              <strong>by Accosca Admin</strong> <span class="text-muted"><i class="fa fa-clock-o"></i> Jul 3, 2020 |
                Updates</span>
            </div>
            <p>
              ACCOSCA Building Synergies to Promote Inclusivity in Co-operatives Webinar by Benoit Andre.
            </p>
            <p>
              No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not
              know how to pursue pleasure rationally encounter consequences
            </p>
            <div class="row">
              <div class="col-md-6">
                <h5>Tags:</h5>
                <button class="btn btn-primary btn-xs" type="button">New</button>
                <button class="btn btn-white btn-xs" type="button">Model</button>
                <button class="btn btn-white btn-xs" type="button">Publishing</button>
              </div>
              <div class="col-md-6">
                <div class="small text-right">
                  <h5>Stats:</h5>
                  <div> <i class="fa fa-comments-o"> </i> 36 comments </div>
                  <i class="fa fa-eye"> </i> 100 views
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ibox">
          <div class="ibox-content">
            <a href="article.html" class="btn-link">
              <h2>
                Japanese agricultural co-operatives threatened
              </h2>
            </a>
            <div class="small m-b-xs">
              <strong>John Smith</strong> <span class="text-muted"><i class="fa fa-clock-o"></i> 04 Dec 2015</span>
            </div>
            <p>
              The International Co-operative Alliance condemns a proposal to reform agricultural co-operative structures in Japan as an attack on the fundamental principles of the co-operative movement and a threat to the unity and welfare of farmer co-operatives in the International Year of Family Farming.
            </p>
            <div class="row">
              <div class="col-md-6">
                <h5>Tags:</h5>
                <button class="btn btn-white btn-xs" type="button">Publishing</button>
                <button class="btn btn-white btn-xs" type="button">Premium</button>

              </div>
              <div class="col-md-6">
                <div class="small text-right">
                  <h5>Stats:</h5>
                  <div> <i class="fa fa-comments-o"> </i> 22 comments </div>
                  <i class="fa fa-eye"> </i> 17 views
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <ngx-profit-card></ngx-profit-card>
        <ngx-earning-card></ngx-earning-card>
        
      </div>
    </div>


  </div>

</div>

