@import '../../../../assets/cd/inspinia/css/style.css';
@import '../../../../assets/cd/scss/modules/fonts';
@import '../../../../assets/cd/scss/modules/inspiniaMatDark';

.divCenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn-link h2{
  font-weight: 100;
}