<div class="tabs-container">
    <ul class="nav nav-tabs" role="tablist">
        <li (click)="svTabs.tabActivate(0)" id="tab_0"><a class="nav-link active" data-toggle="tab"> Groups</a></li>
        <li (click)="svTabs.tabActivate(1)" id="tab_1"><a class="nav-link" data-toggle="tab">Nested Group</a></li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" id="tab-0" class="tab-pane active">
            <div class="panel-body">
                <ngx-group-list></ngx-group-list>
            </div>
        </div>
        <div role="tabpanel" id="tab-1" class="tab-pane">
            <div class="panel-body">
              <ngx-group-nested></ngx-group-nested>
            </div>
        </div>
    </div>
</div>
