<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-3">
      <div class="ibox ">
        <div class="ibox-content mailbox-content">
          <div class="file-manager">
            <a class="btn btn-block btn-primary compose-mail" (click)="svConversation.setMode('COMPOSE-DOC',null)">Compose Mail</a>
            <div class="space-25"></div>
            <h5>Folders</h5>
            <ul class="folder-list m-b-md" style="padding: 0">
              <li><a (click)="svConversation.setMode('IN-TRAY',null)"> <i class="fa fa-inbox "></i> Inbox <span
                    class="label label-warning float-right">16</span> </a></li>
              <li><a href="mailbox.html"> <i class="fa fa-envelope"></i> Send Mail</a></li>
              <li><a href="mailbox.html"> <i class="fa fa-certificate"></i> Important</a></li>
              <li><a href="mailbox.html"> <i class="fa fa-firstdraft"></i> Drafts <span
                    class="label label-danger float-right">2</span></a></li>
              <li><a href="mailbox.html"> <i class="fa fa-trash"></i> Trash</a></li>
            </ul>
            <h5>Categories</h5>
            <ul class="category-list" style="padding: 0">
              <li><a href="#"> <i class="fa fa-circle text-navy"></i> Work </a></li>
              <li><a href="#"> <i class="fa fa-circle text-danger"></i> Documents</a></li>
              <li><a href="#"> <i class="fa fa-circle text-primary"></i> Social</a></li>
              <li><a href="#"> <i class="fa fa-circle text-info"></i> Advertising</a></li>
              <li><a href="#"> <i class="fa fa-circle text-warning"></i> Clients</a></li>
            </ul>

            <h5 class="tag-title">Labels</h5>
            <ul class="tag-list" style="padding: 0">
              <li><a href=""><i class="fa fa-tag"></i> Family</a></li>
              <li><a href=""><i class="fa fa-tag"></i> Work</a></li>
              <li><a href=""><i class="fa fa-tag"></i> Home</a></li>
              <li><a href=""><i class="fa fa-tag"></i> Children</a></li>
              <li><a href=""><i class="fa fa-tag"></i> Holidays</a></li>
              <li><a href=""><i class="fa fa-tag"></i> Music</a></li>
              <li><a href=""><i class="fa fa-tag"></i> Photography</a></li>
              <li><a href=""><i class="fa fa-tag"></i> Film</a></li>
            </ul>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-9 animated fadeInRight">
      <!-- start doc content -->
      <ngx-intray *ngIf="svConversation.docModeInTray"></ngx-intray>
      <ngx-read-doc *ngIf="svConversation.docModeReadDoc"></ngx-read-doc>
      <ngx-compose-doc *ngIf="svConversation.docModeComposeDoc"></ngx-compose-doc>
      <!-- end doc content -->
    </div>
  </div>
</div>
