@import '../../../../assets/cd/inspinia/css/style.css';
@import '../../../../assets/cd/scss/modules/fonts';
@import '../../../../assets/cd/scss/modules/inspiniaMatDark';

.row {
  font-family: 'Lato', sans-serif;
  dt,
  dd {
    font-size: 9pt;
  }
  small {
    font-size: 6pt;
  }
}


