<nb-card>
  <nb-card-body>
    <nb-stepper #stepper [linear]="linearMode" orientation="vertical">
      <nb-step label="User">

        <!-- search box -->
        <!-- <form class="g-search">
          <input type="text" placeholder="Search.." name="search">
          <button type="submit"><i class="fa fa-search"></i></button>
        </form> -->
        <ngx-user-select></ngx-user-select>

        <p></p>
        <button 
        nbButton 
        [disabled]="svUser.isInvalidSelUsers" 
        nbStepperNext>
          <nb-icon icon="arrow-circle-right-outline"></nb-icon>
        </button>
      </nb-step>
      <nb-step label="Group">
        <h4>Select group/s to move the users</h4>
        <ngx-group-select></ngx-group-select>
        <button 
        (click)="submitGroupMembers()"
        nbButton 
        status="primary">
          <nb-icon icon="plus-outline"></nb-icon>
        </button>
        <button nbButton nbStepperPrevious>
          <nb-icon icon="arrow-circle-left-outline"></nb-icon>
        </button>
        <!-- <button nbButton [disabled]="svGroup.isInvalidSelGroups" nbStepperNext>
          <nb-icon icon="arrow-circle-right-outline"></nb-icon>
        </button> -->
      </nb-step>
    </nb-stepper>
  </nb-card-body>
</nb-card>
