<!--The content below is only a placeholder and can be replaced.-->

<div class="text-center p-4">
  <h1>Collpasing Button</h1>
</div>
<div class="inner">
  <button (click)='animateMe()' class="btn btn-danger p-2 m-2">Toggle Button</button>
  <p [@myfirstanimation]='state'>
    Angular animations uses functions such as animate, state, style, transition, trigger,
    sequence, group, keyframes etc .
    Angular animations trigger name is bound to element of the template of component or host element of child component
    to animate it. Animation takes place for a given duration with given 
</p>
</div>
