<div class="light example-10">Light</div>
<div class="semilight example-10">Semilight</div>
<div class="regular example-10">Regular</div>
<div class="semibold example-10">Semibold</div>

<div class="light example-20">Light</div>
<div class="semilight example-20">Semilight</div>
<div class="regular example-20">Regular</div>
<div class="semibold example-20">Semibold</div>

<div class="light example-72">Light</div>
<div class="semilight example-72">Semilight</div>
<div class="regular example-72">Regular</div>
<div class="semibold example-72">Semibold</div>

<p class="light example-10">
  <mat-radio-group color="primary">
    <mat-radio-button value="1" [checked]="true">Option 1</mat-radio-button>
    <mat-radio-button value="2">Option 2</mat-radio-button>
    <mat-radio-button value="3">Option 3</mat-radio-button>
  </mat-radio-group>
</p>


<h2>Tested and working on:</h2>
<ul>
  <li>macOS: Safari (web, override so doesn't attempt local)</li>
  <li>macOS: Chrome (web, override so doesn't attempt local)</li>
  <li>macOS: Firefox (web, fallback after attempting local)</li>
  <li>Windows 10: Edge (local)</li>
  <li>Windows 10: IE11 (local)</li>
  <li>Windows 10: Firefox (local)</li>
  <li>Windows 10: Chrome (web, override so doesn't attempt local)</li>
  <li>Windows 10: Opera (web, override so doesn't attempt local)</li>
</ul>
