<ngx-header-two [title]="title" [breadcrumbs]="breadcrumbs"></ngx-header-two>
<div class="row">
  <div id="pubs-container" class="col-lg-8">
    <ngx-inte-ract [Pubs]="Pubs" [pubFilter]="svMyInteRact.pubFilter()" [pubCtx]="svMyInteRact.pubCtx" [pushRecepients]="pushRecepients"></ngx-inte-ract>
  </div>
  <!-- start scheduler ui -->
  <div class="col-lg-4">
    <nb-accordion multi>
      <nb-accordion-item>
        <nb-accordion-item-header matRipple>
          Associates
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          <ngx-cute-table [cuteCols]="cuteCols" [tData]="cuteData" avatarDefault="avatarDefault" (sendSelAssociation)="getSelectedAssociation($event)"></ngx-cute-table>
        </nb-accordion-item-body>
      </nb-accordion-item>

      <nb-accordion-item>
        <nb-accordion-item-header matRipple>
          Associations
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          
        </nb-accordion-item-body>
      </nb-accordion-item>

      <nb-accordion-item>
        <nb-accordion-item-header matRipple>
          Diary
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          <ngx-timeline></ngx-timeline>
        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
  </div>
  <!-- end scheduler ui -->
</div>
