@import '../../../../assets/cd/inspinia/css/style.css';
@import '../../../../assets/cd/scss/modules/fonts';
@import '../../../../assets/cd/scss/modules/inspiniaMatDark';

.postText{
    font-family: 'Segoe UI Web (West European)' !important;
    font-size: 9pt !important;
}

.nb-theme-material-dark p {
    font-family: 'Segoe UI Web (West European)' !important;
    font-size: 9pt !important;
}

