/*
use this in angular component below the import for inspinia styles
- applicable when mat-dark theme is active in angx-admin
*/
.btn-primary {
  background-color: #e91d63 !important;
  border-style: none !important;
}

.product-price,
.label-primary,
.badge-primary {
  background-color: #e91d63;
  color: #FFFFFF !important;
}

.progress-bar {
  background-color: #8b8a8a;
}

.ibox-title,
.panel-heading {
  background-color: rgb(85, 77, 77) !important;
  border-style: none !important;
  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.ibox-content {
  background-color: #070707 !important;
  border-style: none !important;
  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.mail-box-header {
  background-color: #070707 !important;
}


.btn-white {
  color: inherit;
  background: inherit;
  border: 1px solid #7a7c7c;
}



.form-control {
  background-color: #202020;
  background-image: none;
  border: 1px solid #525353;
  color: inherit;
}

.form-control:focus {
  border-color: #a09fa0;
}



.white-bg,
.breadcrumb,
.input-group-addon,
.social-feed-box {
  background-color: #070707 !important;
}

.social-footer {
  background-color: #292929 !important;
}

.stream-badge .fa {
  background-color: #070707 !important;
  border-color: #525353;
}

.socials .ion {
  color: #c7c9c9 !important;
}

.socials .ion:hover {
  color: #eef0f0 !important;
}

.created-by {
  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 8pt !important;
  // width: 50%;
}

.vertical-timeline-content {
  background-color: #646262;
}

.social-feed-box {
  border-style: none;
}

.text-navy {
  color: inherit !important;
}

.payment-card {
  background-color: #c9c6c6 !important;
  border-radius: 5px;
  color: #525353 !important;

  h2 {
    color: #525353 !important;
  }
}

.panel .panel-default {
  border-color: none !important;
}


a {
  text-decoration: none !important;
  color: none !important;
}

.divCenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.todo-list.small-list>li,
table,
.file-manager,
.folder-list,
.ibox-title,
.media-body,
.social-body,
.m-b-xxs,
.breadcrumb-item,
.activity-stream,
.small,
.project-title,
small,
h2,
h3,
p {
  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.mail-box-header,
tbody {
  border-style: none !important;
}

.mail-box {
  font-size: 8pt !important;
  background-color: inherit;
  border-style: none;
  border-top-style: none;
}

td {
  border-color: gray !important;
}

.unread td {
  background-color: #4b4949;
}

.unread:hover td {
  background-color: #292828 !important;
  color: white !important;
}

.read {
  color: inherit !important;
  background-color: rgb(53, 52, 52) !important;
}

.read:hover td {
  // color: inherit !important;
  background-color: #080808 !important;
}

.folder-list li a {
  color: #adacac;
}

.folder-list li .fa {
  color: #adacac;
}

.category-list,
.folder-list li {
  border-color: gray;
  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 8pt !important;
}

.mailbox-content .tag-list li a {
  background: rgb(88, 88, 88);
  border-style: none;
}



p {
  font-size: 10pt;
}

.breadcrumb-item {
  font-size: 8pt;
}

.btn-link h2 {
  font-weight: 100;
}

.timeline-item .content {
  border-left: 1px solid #646262 !important;
  border-top: 1px solid #646262 !important;
}

.date .fa {
  background-color: rgb(73, 73, 73) !important;
  border-color: rgb(73, 73, 73) !important;
}

.col:hover {
  background-color: rgb(73, 73, 73) !important;
}

.elements-list .list-group-item {
  background-color: rgb(37, 37, 37);
}

.elements-list .list-group-item:hover {
  background-color: rgb(73, 73, 73);
}

.product-price {
  background-color: #e91d63;
}

.product-imitation {
  background-color: #505052;
  color: #bebec3;
}

.todo-list.small-list>li {
  background: rgb(44, 44, 44) !important;
  font-size: 8pt;
}

// start file attachments
.file .file-name {
  background-color: #5a5858 !important;
  border-top: 1px solid #5a5858 !important;
  color: #b8b6b6 !important;
}

.file-name small {
  color: #e8e8e9;
}

.file .icon {
  background-color: #bebcbc !important;
  color: #8f8e8e !important;
}
// end file attachments

// start tabs dark theme
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #495057;
  background-color: #070707 !important;
  border-color: #070707 !important;
}

.tabs-container .panel-body {
  background: #070707 !important;
  border: 1px solid #070707 !important;
  border-top-color: #070707 !important;
}

.nb-theme-material-dark .mat-chip.mat-standard-chip .mat-chip-remove {
  background: inherit !important;
}



// end tabs dark theme


/*
Adopted from https://codepen.io/markcaron/pen/MvGRYV 
PURE CSS TABS
Radio version of tabs. Requirements: not rely on specific IDs for CSS (the CSS shouldn't need to know specific IDs), flexible for any number of unkown tabs [2-6], accessible. Caveats: since these are checkboxes the tabs not tab-able, need to use arrow keys.

Compatible browsers:Chrome, Edge, Firefox, Opera, Safari

Responsive:yes

*/
// .tabset>input[type="radio"] {
//   position: absolute;
//   left: -200vw;
// }

// .tabset .tab-panel {
//   display: none;
// }

// .tabset>input:first-child:checked~.tab-panels>.tab-panel:first-child,
// .tabset>input:nth-child(3):checked~.tab-panels>.tab-panel:nth-child(2),
// .tabset>input:nth-child(5):checked~.tab-panels>.tab-panel:nth-child(3),
// .tabset>input:nth-child(7):checked~.tab-panels>.tab-panel:nth-child(4),
// .tabset>input:nth-child(9):checked~.tab-panels>.tab-panel:nth-child(5),
// .tabset>input:nth-child(11):checked~.tab-panels>.tab-panel:nth-child(6) {
//   display: block;
// }


/*
   Styling
  */
// body {
//   font: 16px/1.5em "Overpass", "Open Sans", Helvetica, sans-serif;
//   color: #333;
//   font-weight: 300;
// }

// .tabset>label {
//   position: relative;
//   display: inline-block;
//   padding: 15px 15px 25px;
//   border: 1px solid transparent;
//   border-bottom: 0;
//   cursor: pointer;
//   font-weight: 600;
// }

// .tabset>label::after {
//   content: "";
//   position: absolute;
//   left: 15px;
//   bottom: 10px;
//   width: 22px;
//   height: 4px;
//   background: #8d8d8d;
// }

// .tabset>label:hover,
// .tabset>input:focus+label {
//   color: #e91d63;
// }

// .tabset>label:hover::after,
// .tabset>input:focus+label::after,
// .tabset>input:checked+label::after {
//   background: #e91d63;
// }

// .tabset>input:checked+label {
//   // border-color: #ccc;
//   border-bottom: 1px solid #fff;
//   background-color: rgb(85, 83, 83);
//   margin-bottom: -1px;
// }

// .tab-panel {
//   padding: 30px 0;
//   border-top: 1px solid #ccc;
// }

/*
   Demo purposes only
  */
// *,
// *:before,
// *:after {
//   box-sizing: border-box;
// }

// body {
//   padding: 30px;
// }

// .tabset {
//   max-width: 65em;
// }

// end markcaron tabset
