/*
use this in angular component below the import for inspinia styles
- applicable when mat-dark theme is active in angx-admin
*/
.btn-primary {
  background-color: #e91d63 !important;
  border-style: none !important;
}

.product-price,
.label-primary,
.badge-primary {
  background-color: #e91d63;
  color: #FFFFFF !important;
}

.progress-bar {
  background-color: #8b8a8a;
}

.ibox-title,
.panel-heading {
  background-color: rgb(85, 77, 77) !important;
  border-style: none !important;
  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.ibox-content {
  background-color: #070707 !important;
  border-style: none !important;
  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.mail-box-header {
  background-color: #070707 !important;
}


.btn-white {
  color: inherit;
  background: inherit;
  border: 1px solid #7a7c7c;
}



.form-control {
  background-color: #202020;
  background-image: none;
  border: 1px solid #525353;
  color: inherit;
}

.form-control:focus {
  border-color: #a09fa0;
}



.white-bg,
.breadcrumb,
.input-group-addon,
.social-feed-box {
  background-color: #070707 !important;
}

.social-footer {
  background-color: #292929 !important;
}

.stream-badge .fa {
  background-color: #070707 !important;
  border-color: #525353;
}

.socials .ion {
  color: #c7c9c9 !important;
}

.socials .ion:hover {
  color: #eef0f0 !important;
}

.created-by {
  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 8pt !important;
  // width: 50%;
}

.vertical-timeline-content {
  background-color: #646262;
}

.social-feed-box {
  border-style: none;
}

.text-navy {
  color: inherit !important;
}

.payment-card {
  background-color: #c9c6c6 !important;
  border-radius: 5px;
  color: #525353 !important;

  h2 {
    color: #525353 !important;
  }
}

.panel .panel-default {
  border-color: none !important;
}


a {
  text-decoration: none !important;
  color: none !important;
}

.divCenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

table,
.file-manager,
.folder-list,
.ibox-title,
.media-body,
.social-body,
.m-b-xxs,
.breadcrumb-item,
.activity-stream,
.small,
.project-title,
small,
h2,
h3,
p {
  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.mail-box-header,
tbody {
  border-style: none !important;
}

.mail-box {
  font-size: 8pt !important;
  background-color: inherit;
  border-style: none;
  border-top-style: none;
}

td {
  border-color: gray !important;
}

.unread td {
  background-color: #4b4949;
}

.unread:hover td {
  background-color: #292828 !important;
  color: white !important;
}

.read {
  color: inherit !important;
  background-color: rgb(53, 52, 52) !important;
}

.read:hover td {
  // color: inherit !important;
  background-color: #080808 !important;
}

.folder-list li a {
  color: #adacac;
}

.folder-list li .fa {
  color: #adacac;
}

.category-list,
.folder-list li {
  border-color: gray;
  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 8pt !important;
}

.mailbox-content .tag-list li a {
  background: rgb(88, 88, 88);
  border-style: none;
}



p {
  font-size: 10pt;
}

.breadcrumb-item {
  font-size: 8pt;
}

.btn-link h2 {
  font-weight: 100;
}

.timeline-item .content {
  border-left: 1px solid #646262 !important;
  border-top: 1px solid #646262 !important;
}

.date .fa {
  background-color: rgb(73, 73, 73) !important;
  border-color: rgb(73, 73, 73) !important;
}

.col:hover {
  background-color: rgb(73, 73, 73) !important;
}

.elements-list .list-group-item {
  background-color: rgb(37, 37, 37);
}

.elements-list .list-group-item:hover {
  background-color: rgb(73, 73, 73);
}

.product-price {
  background-color: #e91d63;
}

.product-imitation {
  background-color: #505052;
  color: #bebec3;
}

