<!-- 
  
  Radio version of tabs.

  Requirements:
  - not rely on specific IDs for CSS (the CSS shouldn't need to know specific IDs)
  - flexible for any number of unkown tabs [2-6]
  - accessible

  Caveats:
  - since these are checkboxes the tabs not tab-able, need to use arrow keys

  Also worth reading:
  http://simplyaccessible.com/article/danger-aria-tabs/
-->

<div class="tabset">
    <!-- Tab 1 -->
    <input type="radio" name="tabset" id="tab1" aria-controls="service-info" checked>
    <label for="tab1">Service Info</label>
    <!-- Tab 2 -->
    <input type="radio" name="tabset" id="tab2" aria-controls="service-schedule">
    <label for="tab2">Schedule</label>
    <!-- Tab 3 -->
    <input type="radio" name="tabset" id="tab3" aria-controls="service-facilitators">
    <label for="tab3">Facilitators</label>
    
    <div class="tab-panels">
      <section id="service-info" class="tab-panel">
        <ngx-form-product-info></ngx-form-product-info>
    </section>
      <section id="service-schedule" class="tab-panel">
        <ngx-form-product-schedule></ngx-form-product-schedule>
      </section>
      <section id="service-facilitators" class="tab-panel">
        <ngx-form-product-developers></ngx-form-product-developers>
      </section>
    </div>
    
  </div>
  
  <p><small>Source: <cite><a href="https://www.bjcp.org/stylecenter.php">BJCP Style Guidelines</a></cite></small></p>