<div class="row">
  <div class="col">
    <div class="tabs">
      <!-- <div class="tab">
        <input type="radio" id="rd1" name="rd">
        <label class="tab-label" for="rd1">Loice Adhiambo, Fri, Oct 30, 2:16 PM (22 hours ago)</label>
        <div class="tab-content">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos, facilis.
        </div>
      </div>
      <div class="tab">
        <input type="radio" id="rd2" name="rd">
        <label class="tab-label" for="rd2">Widi Ochieng, Fri, Oct 30, 2:16 PM (22 hours ago)</label>
        <div class="tab-content">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil, aut.
        </div>
      </div> -->
      <div *ngFor="let messageData of Conversation" class="tab">
        <input type="radio" id="{{messageData.doc_id}}" name="rd">
        <label class="tab-label" for="{{messageData.doc_id}}">{{messageData.sender_name + ', ' + messageData.doc_date}}</label>
        <div class="tab-content" [innerHTML]="getMessage(messageData)"></div>
      </div>
      <div class="tab">
        <input type="radio" id="rd3" name="rd">
        <label for="rd3" class="tab-close">Close others &times;</label>
      </div>
    </div>
  </div>
</div>