<div class="row">
  <p>Slideshow 1:</p>
  <div class="slideshow-container">
    <div class="mySlides1">
        <img src="../../../../assets/cd/imges/img_band_chicago.jpg" style="width:100%">
    </div>

    <div class="mySlides1">
      <img src="../../../../assets/cd/imges/img_snow_wide.jpg" style="width:100%">
    </div>

    <div class="mySlides1">
      <img src="../../../../assets/cd/imges/img_mountains_wide.jpg" style="width:100%">
    </div>

    <a class="prev" (click)="plusSlides(-1, 0)">&#10094;</a>
    <a class="next" (click)="plusSlides(1, 0)">&#10095;</a>
  </div>
</div>
<div class="row">
  <p>Slideshow 2:</p>
  <div class="slideshow-container">
    <div class="mySlides2">
      <img src="../../../../assets/cd/imges/img_band_chicago.jpg" style="width:100%">
    </div>

    <div class="mySlides2">
      <img src="../../../../assets/cd/imges/img_band_la.jpg" style="width:100%">
    </div>

    <div class="mySlides2">
      <img src="../../../../assets/cd/imges/img_band_ny.jpg" style="width:100%">
    </div>

    <a class="prev" (click)="plusSlides(-1, 1)">&#10094;</a>
    <a class="next" (click)="plusSlides(1, 1)">&#10095;</a>
  </div>
</div>
