<div class="row">
  <ngx-profile-card></ngx-profile-card>
  <!-- <ngx-profile-accordion></ngx-profile-accordion>   -->
  <div class="accordion-container col-8">
    <nb-accordion multi>
      <nb-accordion-item>
        <nb-accordion-item-header matRipple>
          Product Details
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
          Originally, nebula was a name for any diffuse astronomical object,
          including galaxies beyond the Milky Way.
        </nb-accordion-item-body>
      </nb-accordion-item>

      <nb-accordion-item>
        <nb-accordion-item-header matRipple>
          Reviews
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
          Originally, nebula was a name for any diffuse astronomical object,
          including galaxies beyond the Milky Way.
        </nb-accordion-item-body>
      </nb-accordion-item>

      <nb-accordion-item>
        <nb-accordion-item-header matRipple>
          Edit
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
          Originally, nebula was a name for any diffuse astronomical object,
          including galaxies beyond the Milky Way.
        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
  </div>
</div>
