@import url(/Users/goremo/ngx-admin/src/assets/cd/inspinia_admin-v2.9.3/css/style.css);
@font-face {
  font-family: 'Lato';
  src: url("/../../fonts/Regular/Lato-Regular.woff2") format("woff2"), url("/../../fonts/Regular/Lato-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url("/../../fonts/Black/Lato-Black.woff2") format("woff2"), url("/../../fonts/Black/Lato-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato Hairline';
  src: url("/../../fonts/Hairline/Lato-Hairline.woff2") format("woff2"), url("/../../fonts/Hairline/Lato-Hairline.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url("/../../fonts/Bold/Lato-Bold.woff2") format("woff2"), url("/../../fonts/Bold/Lato-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url("/../../fonts/LightItalic/Lato-LightItalic.woff2") format("woff2"), url("/../../fonts/LightItalic/Lato-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url("/../../fonts/BoldItalic/Lato-BoldItalic.woff2") format("woff2"), url("/../../fonts/BoldItalic/Lato-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Lato Hairline';
  src: url("/../../fonts/HairlineItalic/Lato-HairlineItalic.woff2") format("woff2"), url("/../../fonts/HairlineItalic/Lato-HairlineItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url("/../../fonts/Italic/Lato-Italic.woff2") format("woff2"), url("/../../fonts/Italic/Lato-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url("/../../fonts/BlackItalic/Lato-BlackItalic.woff2") format("woff2"), url("/../../fonts/BlackItalic/Lato-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url("/../../fonts/Light/Lato-Light.woff2") format("woff2"), url("/../../fonts/Light/Lato-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

.btn-primary {
  background-color: #e91d63 !important;
  border-style: none !important;
}

.label-primary, .badge-primary {
  background-color: #e91d63;
  color: #FFFFFF !important;
}

.progress-bar {
  background-color: #8b8a8a;
}

.ibox-title {
  background-color: #554d4d !important;
  border-style: none !important;
  font-family: Roboto, sans-serif !important;
}

.ibox-content {
  background-color: #070707 !important;
  border-style: none !important;
  font-family: Roboto, sans-serif !important;
}

i {
  border: 1px solid #bfbfc2 !important;
  border-radius: 50%;
  padding: 6px;
  color: #bfbfc2 !important;
  position: absolute;
  background-color: #070707 !important;
  left: 8px;
}

a {
  text-decoration: none !important;
  color: none !important;
}
/*# sourceMappingURL=activity.component.css.map */