@import '../../../../assets/cd/inspinia_admin-v2.9.3/css/style.css';
@import '../../../../assets/cd/scss/modules/fonts';

.btn-primary {
  background-color: #e91d63 !important;
  border-style: none !important;
}

.label-primary, .badge-primary {
  background-color: #e91d63;
  color: #FFFFFF !important;
}

.progress-bar {
  background-color: #8b8a8a;
}
.ibox-title {
  background-color: rgb(85, 77, 77) !important;
  border-style: none !important;
  font-family: Roboto, sans-serif !important;
}

.ibox-content {
  background-color: #070707 !important;
  border-style: none !important;
  font-family: Roboto, sans-serif !important;
}



i {
  border: 1px solid #bfbfc2 !important;
  border-radius: 50%;
  padding: 6px;
  color: #bfbfc2 !important;
  position: absolute;
  background-color: #070707 !important;
  left: 8px;
}

a {
  text-decoration: none !important;
  color: none !important;
}

