<div class="row">
  <div class="col-lg-12">
      <div class="ibox ">
          <div class="ibox-title">
              <h5>Activity Log</h5>
          </div>

          <div class="ibox-content">

              <div id="logsContainer" class="activity-stream">
                  <!-- <div  *ngFor="let activity of activityLog" class="stream">
                      <div class="stream-badge">
                          <i class="{{activity.badge}}"></i>
                      </div>
                      <div class="stream-panel" [innerHTML]="streamPanel(activity)">
                      </div>
                  </div> -->

                  <!-- 
                      <div class="stream">
                      <div class="stream-badge">
                          <i class="fa fa-circle"></i>
                      </div>
                      <div class="stream-panel">
                          <div class="stream-info">
                              <a href="#">
                                  <img src="../../../../assets/cd/inspinia/img/a2.jpg" />
                                  <img src="../../../../assets/cd/inspinia/img/a3.jpg" />
                                  <img src="../../../../assets/cd/inspinia/img/a4.jpg" />
                                  <span>Bettyrose Akinyi, Maureen Njoroge and George Ombado</span>
                                  <span class="date">Yesterday at 02:13:20 am</span>
                              </a>
                          </div>
                          Changed status of third stage in the <a href="#">Vertex</a> project.
                      </div>
                  </div> 
                -->


              </div>

          </div>
      </div>
  </div>
  
</div>